@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400..700&display=swap');
/* font-family: "Noto Sans KR", sans-serif; */
/* font-family: "Roboto", sans-serif; */
/* font-family: "Lora", serif; */

/* CSS Reset */
html, body, div , span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video{margin: 0; padding: 0; border: 0; }
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section{display: block;}
html{font-size: 18px;}
body{font-family: "Noto Sans KR", sans-serif; color: #333;}
ol, ul{list-style: none;}
table{border-collapse: collapse; border-spacing: 0;}
address{font-style: normal}
a{color: #333; text-decoration: none; display: block;}
img{border: 0; vertical-align: top;}

/* 구글아이콘 */
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24}

.hidden{display: block; position: absolute;
 left: -1000%; width: 1px; height: 1px;
  overflow: hidden; color: #fff}


/* skipNav 영역 */
#skipNav{position:relative;width:100%;overflow:hidden; z-index: 110;}
#skipNav a{height:1px; margin-bottom:-1px;overflow:hidden; text-align:center;
    color:#fff; font-size:1.2em; font-weight: 700;}
#skipNav a:hover,#skipNav a:focus,#skipNav a:active{height:auto;padding:15px 0; background: #3B1D0C;}

/* top 이동 */
/* @keyframes top_ani{
  from{top: -52px;}
  70%{top: -55%;}
  
  to{top: -52px;}
} */

html{scroll-behavior:smooth;} 
.move_top{
  width: 80px; height: 80px; 
  text-align: center; font-size: 1.2em; 
  border-radius: 50%; 
  /* overflow: hidden;  */
  position: fixed; left: 50%; bottom: 100px; 
  margin-left: 750px; 
  transition: all 0.5s ease-out; 
  font-weight: 400;}


.element {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 80px;
  line-height:80px;
  margin:50px;
  border: 2px dashed #B0744D;
  border-radius: 50%;
  transition: all .4s;
  text-align:center;
  cursor: pointer;
  font-weight:bold;
  color:#B0744D;
  transform: translate(-50%, -50%);
}
.element::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  width: 100px;
  height: 100px;
  border: 1px solid #B0744D;
  border-radius: 50%;
  opacity: 0;
  transition: all 1s;
}
.element:hover {border:2px solid #B0744D;background-color:#B0744D;color:#fff;}
.element:hover::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  width: 130px;
  height: 130px;
  border: 1px dotted #B0744D;
  border-radius: 50%;
  opacity: 95%;
}



#wrap{width: 100%; overflow: hidden;}

 /* header 공통영역 */ 
 #headerArea{width: 100%; 
  /* background: rgba(255,255,255,.3);  */
  position: fixed; left: 0; top: 0; z-index: 100;}
 #headerArea .header_container{width: 1400px; margin: 0 auto;
  margin-top: 30px}
 #headerArea .header_container .header_top{overflow: hidden;}
 #headerArea .logo{float: left; margin-left: 50%;
  transform: translateX(-50%);}
 #headerArea .logo a{width: 250px; height: 70px; background: url(../images/logo.png);  text-indent: -999px; overflow: hidden; }

 #headerArea .header_container .top_menu{width: 256px; float: right; }
 #headerArea .header_container .top_menu ul{display: flex;
  justify-content: space-around; margin-top: 53px;}
 #headerArea .header_container .top_menu a{color: #fff;}

 #headerArea #gnb ul{display: flex; justify-content: space-between; 
  /* margin: 30px 0; */
}
 #headerArea #gnb ul a{color: #fff;font-family: "Roboto", sans-serif; font-size: 1.22rem; padding: 30px 0;}


 /* view more, line 서식 */
 .view_par{position: relative;}
 .view_m{font-family: "Roboto", sans-serif; font-size: 1rem;transition: all 0.3s ease-out;}
 .view_m:hover{letter-spacing: 1px; color: #B0744D
  ;}

 .view_box{font-family: "Roboto", sans-serif;}
 .line::before{content: ""; display: block; border-right: 1px solid #333; width: 10px; height: 50px; position: absolute;
  left: 455px; top: 21px;}



 


/* footer 공통영역 */ 
#footerArea{width: 100%; background: #3b1d0c; overflow: hidden;}
#footerArea .footer_container{width: 1400px; margin: 0 auto;
  padding: 50px 0; overflow: hidden;}
#footerArea .footer_container a, 
#footerArea .footer_container .footer_top span{color: #fff;}
#footerArea .footer_top{overflow: hidden;}
#footerArea .botom_logo{width: 250px; float: left;}
#footerArea .bottom_menu{float: right; width: 1095px; margin: 25px 0 0 55px;}
#footerArea .bottom_menu ul{display: flex; gap: 18px;}
#footerArea .bottom_menu ul li:hover a{text-decoration: underline;}

#footerArea .footer_container .footer_left{width: 992px; float: left; margin-top: 50px; border-right: 1px solid #8e8e8e;}
#footerArea .footer_container .footer_left address span{margin-right: 16px; color: #fff;}
#footerArea .footer_left address span:last-child{}
#footerArea .footer_container .footer_left .copy{margin-top: 20px; color: #fff;}

#footerArea .footer_container .footer_right{width: 407px; float: right; margin-top: 50px; overflow: hidden;}
#footerArea .footer_container .footer_right .family{margin-left: 146px;}
#footerArea .footer_container .footer_right .family i{margin-left: 30px;}
#footerArea .footer_container .footer_right .sns{margin-top: 64px;}
#footerArea .footer_container .footer_right .sns ul{display: flex; justify-content: flex-end; margin-right: 100px;}
#footerArea .footer_container .footer_right .sns i{font-size: 1.8rem; margin-left: 15px;}
#footerArea .footer_container .footer_right .sns ul li:hover i{color: #E2B278;}












