@import url("https://fonts.googleapis.com/css2?family=Kalnia:wght@100..700&family=Noto+Sans+KR:wght@100..900&family=Noto+Serif+Display:ital,wght@0,100..900;1,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/* font-family: "Noto Serif", serif; */
/* font-family: "Noto Sans KR", sans-serif; */
/* font-family: "Noto Serif Display", serif; */
/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: top;
  -webkit-text-size-adjust: none;
  box-sizing: border-box; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

html {
  font-size: 16px; }

body {
  font-family: "Noto Sans KR", sans-serif;
  color: #333; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

address {
  font-style: normal; }

a {
  color: #333;
  text-decoration: none;
  display: block;
  cursor: pointer; }

img {
  border: 0;
  vertical-align: top; }

.hidden {
  display: block;
  position: absolute;
  left: -1000%;
  width: 1px;
  height: 1px;
  overflow: hidden;
  color: #fff; }

:root {
  --pointYellow:rgba(255, 221, 0, 0.422); }

#wrap header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 30px;
  position: fixed;
  top: 0;
  width: 100%; }
  #wrap header .headerLeft {
    display: flex;
    gap: 15px;
    align-items: center;
    width: 50%; }
    #wrap header .headerLeft h1 {
      font-size: 1rem; }
    #wrap header .headerLeft a {
      padding: 5px 10px;
      transition: .3s ease-out;
      border-radius: 10px; }
      #wrap header .headerLeft a:hover {
        color: #fff;
        background: #333; }
  #wrap header .headerRight {
    display: flex;
    gap: 20px;
    align-items: center; }
    #wrap header .headerRight .battery {
      width: 30px;
      height: 16px;
      border: 1px solid #333;
      border-radius: 5px; }
      #wrap header .headerRight .battery span {
        display: block;
        width: 20px;
        height: 10px;
        background: #333;
        border-radius: 2px;
        margin: 2px 0 0 2px; }
    #wrap header .headerRight > span {
      border: 1px solid #333;
      padding: 0 10px;
      border-radius: 5px;
      line-height: 1.2rem; }
#wrap article {
  width: 100%;
  background: #DDDDDD;
  border-radius: 20px 20px 0 0;
  border: 1px solid #333;
  position: fixed;
  top: 46px; }
  #wrap article .contentTop {
    position: relative;
    overflow: hidden; }
    #wrap article .contentTop .btns {
      display: flex;
      gap: 10px;
      position: absolute;
      left: 30px;
      top: 20px; }
      #wrap article .contentTop .btns span {
        display: block;
        width: 15px;
        height: 15px;
        border-radius: 50px; }
      #wrap article .contentTop .btns span:first-child {
        background: #FE5F57; }
      #wrap article .contentTop .btns span:nth-of-type(2) {
        background: #FEBC2E; }
      #wrap article .contentTop .btns span:last-child {
        background: #2BC83F; }
    #wrap article .contentTop .subtit {
      background: #D2D2D2;
      border: 1px solid #999;
      width: 600px;
      display: flex;
      justify-content: center;
      gap: 5px;
      margin: 10px auto;
      align-items: center;
      border-radius: 5px; }
      #wrap article .contentTop .subtit p {
        font-size: 0.83rem;
        padding: 5px; }
  #wrap article nav {
    width: 20%;
    height: 100vw;
    background: #F3F3F3;
    float: left;
    padding: 20px 0;
    position: fixed;
    top: 100px; }
    #wrap article nav > div {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 30px; }
      #wrap article nav > div div {
        display: flex;
        gap: 5px; }
        #wrap article nav > div div span {
          width: 5px;
          height: 5px;
          border-radius: 50px;
          background: #333; }
    #wrap article nav .depth1 > li > a {
      display: flex;
      gap: 10px;
      width: 100%;
      align-items: center;
      font-weight: 600; }
      #wrap article nav .depth1 > li > a i {
        color: #999;
        margin-left: 30px; }
    #wrap article nav .depth1 > li .depth2 {
      width: 100%; }
      #wrap article nav .depth1 > li .depth2 i {
        margin-left: 60px;
        color: #999; }
      #wrap article nav .depth1 > li .depth2 h4, #wrap article nav .depth1 > li .depth2 h5 {
        font-weight: 400;
        font-size: 1rem; }
      #wrap article nav .depth1 > li .depth2 > li a {
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 1rem;
        width: 100%; }
      #wrap article nav .depth1 > li .depth2 > li ul li a:hover {
        background: var(--pointYellow); }
      #wrap article nav .depth1 > li .depth2 > li ul li a img {
        margin-left: 90px; }
      #wrap article nav .depth1 > li .depth2 > li ul li .active {
        background: var(--pointYellow); }
    #wrap article nav .depth1 a {
      transition: .5s ease-out;
      line-height: 2.5rem; }
  #wrap article section {
    float: right;
    width: 80%;
    background: #fff;
    line-height: 1.7rem;
    position: relative;
    top: 2px; }
  #wrap article section.info {
    height: 100vh;
    overflow-y: scroll; }
    #wrap article section.info .tabs {
      width: 100%;
      z-index: 10;
      position: fixed;
      top: 100px; }
      #wrap article section.info .tabs ul {
        display: flex;
        align-items: center; }
        #wrap article section.info .tabs ul li {
          width: 15.94%;
          background: #ECECEC;
          border-left: 1px solid #fff;
          border-right: 1px solid #fff; }
          #wrap article section.info .tabs ul li a {
            display: flex;
            line-height: 2.5rem;
            gap: 5px;
            align-items: center;
            color: #606060;
            padding-left: 20px;
            transition: .3s ease-out; }
            #wrap article section.info .tabs ul li a:hover {
              background: #fff;
              color: #333; }
          #wrap article section.info .tabs ul li .on {
            background: #fff;
            color: #333; }
    #wrap article section.info .con {
      margin-top: 45px;
      padding: 30px;
      color: #ccc;
      display: none; }
      #wrap article section.info .con .indent1 {
        margin-left: 40px; }
        #wrap article section.info .con .indent1 span {
          color: #333; }
        #wrap article section.info .con .indent1 .title {
          font-weight: 700; }
        #wrap article section.info .con .indent1 > ul > li:hover {
          background: var(--pointYellow); }
        #wrap article section.info .con .indent1 .indent2 {
          margin-left: 70px;
          color: #333; }
    #wrap article section.info .con1 {
      display: block; }
      #wrap article section.info .con1 > div {
        display: flex; }
        #wrap article section.info .con1 > div .conLeft {
          width: 60%; }
        #wrap article section.info .con1 > div .indent1 .indent2 p:first-child {
          position: relative;
          z-index: 1; }
          #wrap article section.info .con1 > div .indent1 .indent2 p:first-child:hover::before {
            width: 100%; }
        #wrap article section.info .con1 > div .indent1 .indent2 p:first-child::before {
          content: "";
          display: block;
          width: 0px;
          height: 100%;
          background: #ffc9198b;
          position: absolute;
          left: -70px;
          top: 0px;
          z-index: -1;
          transition: .5s ease-out; }
        #wrap article section.info .con1 > div .indent1 .indent2 p:not(:first-child):hover {
          color: #FFC300; }
          #wrap article section.info .con1 > div .indent1 .indent2 p:not(:first-child):hover span {
            color: #00A4EC; }
        #wrap article section.info .con1 > div .indent1 > ul {
          color: #333; }
          #wrap article section.info .con1 > div .indent1 > ul > li ul {
            display: flex;
            width: 100%; }
            #wrap article section.info .con1 > div .indent1 > ul > li ul li:nth-of-type(1) {
              width: 15%; }
            #wrap article section.info .con1 > div .indent1 > ul > li ul li:nth-of-type(2) {
              width: 65%;
              text-align: left; }
            #wrap article section.info .con1 > div .indent1 > ul > li ul li:nth-of-type(3) {
              width: 20%; }
        #wrap article section.info .con1 > div .conRight {
          width: 40%;
          padding-left: 30px;
          height: 85vh;
          position: relative; }
          #wrap article section.info .con1 > div .conRight p {
            margin: 86px 0 30px 0; }
          #wrap article section.info .con1 > div .conRight img {
            border: 1px solid #333; }
          #wrap article section.info .con1 > div .conRight::before {
            content: "";
            display: block;
            width: 1px;
            height: 100%;
            background: #ccc;
            position: absolute;
            left: 0;
            top: -30px; }
    #wrap article section.info .con2 .indent1 > ul > li {
      margin-bottom: 50px;
      color: #333; }
      #wrap article section.info .con2 .indent1 > ul > li:hover {
        background: none; }
      #wrap article section.info .con2 .indent1 > ul > li ul li {
        display: flex; }
        #wrap article section.info .con2 .indent1 > ul > li ul li p:nth-of-type(1) {
          width: 50%;
          font-weight: 500; }
        #wrap article section.info .con2 .indent1 > ul > li ul li p:nth-of-type(2) {
          width: 30%;
          color: #999; }
        #wrap article section.info .con2 .indent1 > ul > li ul li:hover {
          background: var(--pointYellow); }
    #wrap article section.info .con3 .skillCon {
      color: #333; }
      #wrap article section.info .con3 .skillCon .skillTabs {
        display: flex;
        width: 50%; }
        #wrap article section.info .con3 .skillCon .skillTabs li {
          transition: .3s ease-out;
          cursor: pointer;
          width: 33.33%;
          padding: 5px 10px;
          color: #ccc; }
        #wrap article section.info .con3 .skillCon .skillTabs .now {
          color: #333;
          background: var(--pointYellow);
          font-weight: 500; }
      #wrap article section.info .con3 .skillCon .skillsList {
        height: 500px;
        overflow-y: scroll; }
        #wrap article section.info .con3 .skillCon .skillsList ul li dl {
          display: flex;
          padding: 10px 0;
          border-top: dashed 1px #ccc; }
          #wrap article section.info .con3 .skillCon .skillsList ul li dl dt {
            width: 20%;
            font-weight: 500; }
          #wrap article section.info .con3 .skillCon .skillsList ul li dl dd {
            width: 80%;
            font-weight: 400; }
    #wrap article section.info .con4 .indent1 ul:nth-of-type(1) {
      display: flex;
      gap: 30px; }
      #wrap article section.info .con4 .indent1 ul:nth-of-type(1) li {
        color: #333; }
        #wrap article section.info .con4 .indent1 ul:nth-of-type(1) li:hover {
          color: #333;
          background: none; }
    #wrap article section.info .con4 > div:nth-of-type(2) {
      margin-bottom: 50px; }

/*# sourceMappingURL=resume2.css.map */
