@charset "utf-8";

/* 이벤트 본문 css */
#content .content_area{position: relative; margin-top: 50px;}
#content .content_area > div{margin: 100px 0;}
#content .content_area p{font-size: 1.11rem;}

#content .content_area > p{
    font-size: 2.22rem; font-weight: 600;
    text-align: center;
}
#content .content_area .filter_btn{
    margin: 0; text-align: right; margin-top: 45px;
}
#content .content_area .filter_btn button{
    width: 107px;
    border-radius: 15px;border: 0; 
    font-size: 1rem;
    padding: 8px;
    margin-right: 15px;
    background: none;
    transition: all 0.3s;
    cursor: pointer;
}
#content .content_area .filter_btn button:last-child{margin-right: 0;}

/* 이벤트갤러리 */
#content .content_area .event_list{}
#content .content_area .event_list ul{
    width: 100%;
    display: flex; flex-wrap: wrap;
}
#content .content_area .event_list ul li{
    margin:0 13px 100px 0; cursor: pointer;
}
#content .content_area .event_list ul li:last-child{margin-right: 0;}
#content .content_area .event_list ul dl{
    margin-top: 35px; font-size: 1.11rem;
    text-align: center;
}
#content .content_area .event_list ul dl dt{
    font-weight: 500;
}
#content .content_area .event_list ul dl dd:last-child{
    margin-top: 10px; color: #ccc; transition: .3s;
}
#content .content_area .event_list ul dl dd:last-child:hover{
    color: #B0744D; letter-spacing: 1px;
}

/* 팝업 */
#content .content_area .popback{
    width: 100%; height: 100%;
    position: fixed; left: 0; top: 0; 
    z-index: 110; 
    background: #000; 
    opacity: .7; 
    display: none;
}
#content .content_area .popup{
    width: 1070px; height: 750px;
    position: fixed; left: 50%; top: 56%;
    transform: translate(-50%, -50%);
    background: #fff;
    z-index: 120;
    box-shadow:2px 2px 15px 2px rgba(0,0,0,.3);
    display: none;
    margin: 0;
    border-top: 4px solid #B0744D;
    border-bottom: 4px solid #B0744D;
}
#content .content_area .popup > p:nth-of-type(1){
    font-size: 2.22rem; font-weight: 700; text-align: center;
    margin-top: 20px;
}
#content .content_area .popup > p:nth-of-type(2){font-size: 1rem; text-align: center;}
#content .content_area .popup ul{margin: 50px 0 0 40px;}
#content .content_area .popup ul li{
    display: flex; gap: 70px;
    margin-bottom: 40px;
}
#content .content_area .popup ul li p:nth-of-type(1){
    width: 110px; font-weight: 500;
}
#content .content_area .popup a{
    position: absolute; right: 0; top: 0;
    cursor: pointer;

}


















