@charset "utf-8";

/* 멤버십 css */
#content .content_area{position: relative; margin-top: 50px;
}
#content .content_area::before{content: ""; display: block;
    width: 2000px; 
    height: 3738px;
    /* height: 1500px; */
    background: linear-gradient(135deg, rgba(255,255,255,1) 0%,rgba(255,242,234,1) 45%,rgba(255,168,119,1) 100%);
    position: absolute; left: 0; top: -100px;
    transform: translateX(-300px);
    z-index: -10;
    
}
#content .content_area > div{margin: 100px 0;}
#content .content_area p{font-size: 1.11rem;}

#content .content_area > div:nth-of-type(1){text-align: center;}
#content .content_area > div:nth-of-type(1) h3{
    font-size: 2.22rem; font-weight: 600;
}
#content .content_area > div:nth-of-type(1) p{
    margin: 40px 0 100px 0;
}

#content .content_area .memlist{position: relative;}
#content .content_area .memlist .all{
    position: fixed; right: -400px; top: 500px;
    display: block; width: 300px;
    color: #B0744D; font-weight: 500;
    line-height: 2rem;
    border-bottom: 1px solid #B0744D;
}
#content .content_area .memlist .b_box{
    margin-bottom: 50px; width: 100%;
    position: relative;
}
#content .content_area .memlist .b_box:nth-of-type(1){opacity: 0; top: 50px;}
#content .content_area .memlist .b_box:nth-of-type(2){opacity: 0; top: 50px;}
#content .content_area .memlist .b_box:nth-of-type(3){opacity: 0; top: 50px;}

#content .content_area .memlist .b_box .benefit{
    width: 1400px; height: 210px;
    border-radius: 30px;
    text-align: center;
    box-shadow:0px 1px 5px 1px rgba(0,0,0,.2);
    position: relative;
}
#content .content_area .memlist .b_box .benefit::before{
    content: ""; display: block; width: 1262px; height: 1px;
    background: #fff; position: absolute; left: 50%; top: 142px;
    transform: translateX(-50%);
}
#content .content_area .memlist .b_box .benefit > p:nth-of-type(1){
    font-size: 1.67rem; font-weight: 500;
    padding: 20px 0;
}
#content .content_area .memlist .b_box .benefit > ul{
    display: flex; margin-top: 50px; font-size: 1.11rem;
}
#content .content_area .memlist .b_box .benefit > ul li{
    width: 25%;
}
#content .content_area .memlist .b_box .benefit a{
    position: absolute; right: 20px; top: 0;
    padding: 20px; font-size: 2rem; color: #333;
    transition: all 0.5s;
}
/* 토글하단 */
#content .content_area .memlist .b_box .d{
    width: 99%; margin: 0 auto;
    display: flex;
    background: #ffffff14; border-radius: 0 0 30px 30px;
    box-shadow:0px 1px 4px 1px rgba(0,0,0,.2);
    padding: 30px 0;
    z-index: -10;
    position: relative; left: 0; top: -30px;
}
#content .content_area .memlist .b_box .d > li{
    width: 25%; text-align: center;
}
#content .content_area .memlist .b_box .d li ul{}
#content .content_area .memlist .b_box .d li ul li{
    margin-top: 20px;
}

#content .content_area .memlist .b_box .bene1{
    background: linear-gradient(135deg, rgba(244,244,244,1) 0%,rgba(255,255,255,1) 28%,rgba(238,238,238,1) 67%);
    
}
#content .content_area .memlist .b_box .bene2{
    background: linear-gradient(135deg, rgba(244,222,194,1) 0%,rgba(255,245,233,1) 33%,rgba(230,191,144,1) 72%);
}
#content .content_area .memlist .b_box .bene3{
    height: 254px;
    background: linear-gradient(135deg, rgba(231,211,198,1) 0%,rgba(244,225,212,1) 33%,rgba(202,159,131,1) 72%);
}
#content .content_area .memlist .b_box .bene3 span{
    font-size: 0.89rem; display: block; 
    background: #fff; width: 92px;
    padding: 3px 5px; border-radius: 30px;
    margin-top: 7px;
    position: relative; left: 50%; transform: translateX(-50%);
}

/* 쿠폰 */
#content .content_area .coupon{margin-top: 200px;}
#content .content_area .coupon h3, #content .content_area .coupon div > p{
    margin:100px 0 40px 0;
    font-size: 1.67rem; font-weight: 500;
}

#content .content_area .coupon .getcp{position: relative;}
#content .content_area .coupon .getcp span{
    display: block;height: 1px;background: #333;
    position: absolute; left: 0; top: 140px;
}
#content .content_area .coupon .getcp span:nth-of-type(1){
    /* width: 135px;  */
    width: 0px;
    left: 104px; 
}
#content .content_area .coupon .getcp span:nth-of-type(2){
    /* width: 295px;  */
    width: 0px;
    left: 325px;
}
#content .content_area .coupon .getcp span:nth-of-type(3){
    /* width: 325px;  */
    width: 0px;
    left: 705px;
}
#content .content_area .coupon .getcp span:nth-of-type(4){
    /* width: 160px;  */
    width: 0px;
    left: 1120px;
}
#content .content_area .coupon .getcp > ul{
    display: flex;justify-content: center;
    text-align: center; gap: 160px;
}
#content .content_area .coupon .getcp ul li ul li{
    position: relative; top: 50px; opacity: 0;
}
#content .content_area .coupon .getcp ul li ul li:nth-of-type(1){
    font-size: 2.22rem; font-weight: 500; color: #B0744D;
}
#content .content_area .coupon .getcp ul li ul li:nth-of-type(2){
    font-size: 1.39rem; font-weight: 500; color: #B0744D;
}
#content .content_area .coupon .getcp ul li ul li:nth-of-type(3){
    font-size: 1.11rem; margin-top: 35px;
}

#content .content_area .coupon > div:nth-of-type(2) ul{}
#content .content_area .coupon > div:not(:first-child) > ul li{
    list-style: disc; 
    /* list-style-position: inside; */
    margin:0 0 20px 20px;
}

#content .content_area .gomem{
    perspective: 1000px; position: relative; margin: 150px auto;
    width: 605px;
}
#content .content_area .gomem div{
    width: 100%;
}
#content .content_area .gomem p{
    margin: 0 auto;
    font-size: 2.22rem; padding: 30px;
    border-radius: 30px; text-align: center;
    box-shadow:0px 0px 10px 1px rgba(0,0,0,.3);
}
#content .content_area .gomem a{color: #fff;}
#content .content_area .gomem div:nth-of-type(1){
    position: relative; left: 50%;
    transform: rotateX(0deg) translateX(-50%);
    transition: 0.5s;
    backface-visibility: hidden;
    transform-style: preserve-3d;
}
#content .content_area .gomem div:nth-of-type(1) p{
    background: #B0744D;
}
#content .content_area .gomem:hover div:nth-of-type(1){
    transform: rotateX(180deg)translateX(-50%);
}
#content .content_area .gomem:hover div:nth-of-type(2){
    transform: rotateX(0deg)translateX(-50%);
}
#content .content_area .gomem div:nth-of-type(2){
    transform: rotateX(-180deg) translateX(-50%);
    position: absolute; left: 50%; top: 0;
    z-index: -1;
    transition: 0.5s;
    transform-style: preserve-3d;
}
#content .content_area .gomem div:nth-of-type(2) p{
    background: #E2B278;
}






