html{font-size: 16px;}
body{background-color: #eee; font-size: 16px;}
/* .logo{margin: 50px auto 0; display: block; width: 184px; height: 35px;} */
h1 a{margin: 50px auto 0; display: block; width: 100%; height: 80px; text-indent: -9999px; overflow: hidden;
    background: url(http://bbeunbin.mycafe24.com/common/images/logo_maincol.svg) center no-repeat;}
#content{width: 90%; margin: 50px auto; background: #fff; border-radius: 10px;
     padding: 20px; font-family: 'Noto Sans KR', sans-serif;}  


    .member_tab{padding: 30px 0;border-top: 1px solid #333;}
    .member_tab a{font-size: 24px;padding: 10px;margin: 0 10px;color: #aaa;}
    .member_tab a.on{color: #fff;border-bottom: 2px solid #333;font-weight: bold}
    .member_tab span{font-size: 24px;padding: 10px;margin: 0 10px;color: #fff;font-weight: bold}

    .join{text-align: left; position: relative;}
    .join h4{font-size: 2rem;margin: 30px 0; color: #333;
    font-weight: 700;}
    .join h3{font-size: 2rem; color: #333; margin-left: 42%; position: relative; font-weight: 700;}
    
   
    .join .policy{padding: 10px; overflow-y: scroll; height: 80px; margin: 20px 0;border: 1px solid #ddd;
        background: #fff; font-size: 1rem; line-height: 1.5em;}
    .join .check{color: #333; margin: 20px 0 60px;}
    .join .button{text-align: center;margin-top: 30px}
    .join .button .ok,.join .button button,.join .allcheck{display: inline-block;
        width: 300px;line-height: 50px; height: 50px; padding: 8px 0;border: none;
        background: #B0744D;color: #fff;font-size: 1.5em;cursor: pointer;
        margin: 0 5px;}
    .join .button .cancel{display: inline-block;width: 200px;line-height: 24px;padding: 8px 0;border: none;background: #999;color: #fff;font-size: 14px;cursor: pointer}
    .join .allcheck{background: transparent; border: 1px solid #B0744D; color: #B0744D;} 


    /* 체크박스 UI변경 */
    input[type=checkbox] + label::before {           /* + => 친구라는 의미 */
        display: inline-block;
        width: 20px;
        height: 20px;
        background-color: transparent;
        border: 1px solid #999;
        content: '';
        margin: 0px 15px -5px 0px;
        border-radius: 50%;
    }
    input[type=checkbox] {
        display: none;
    }
    input[type=checkbox] + label {
        cursor: pointer; font-size: 1.5rem;
    }
    /* 체크박스타입의 인풋이 :checked  => 체크되면 + 라벨의 비포*/
    input[type=checkbox]:checked + label::before {
        background: #fff url(../images/checked.png) center center no-repeat;
        border: 1px solid #e3e9fe;
    }