@charset "utf-8";

#content .content_area > div{margin-bottom: 50px;}
#content .content_area > ul:nth-of-type(1){
    display: flex; justify-content: center; gap: 20px;
    width: 100%; margin: 0 auto;
    margin-bottom: 50px;
}
#content .content_area > ul:nth-of-type(1) li{
    display: flex; gap: 10px;
}
#content .content_area > ul:nth-of-type(1) li p:first-child{
    font-weight: 700;
}



