@charset "utf-8";

/* 비주얼 영역 */
@keyframes zoomIn{
    0%{
        transform: translate(-50%, -20%) scale(0);
        opacity: 0;
    }
    50%{
        transform: translate(-50%, -20%) scale(1);
        opacity: 1;
    }
    100%{
        transform: translate(-50%, -20%) scale(1);
    }  
}
@keyframes silde{
    0%{width: 0;}
    100%{width: 40%;}
}

.visual{position: relative;}
.visual img{width: 100%; height: 200px;
    object-fit: cover; object-position: center;

    }
.visual span{
    position: absolute; left: 50%; top: 50%;
    transform: translate(-50%, -20%);
    color: #fff;
    font-weight: 500; letter-spacing: 3px;
    font-size: 1.43rem;
    animation: zoomIn 1.5s ease-out 1;
}

/* 서브 메뉴 */
.sub_menu{
    width: 100%; border-bottom: 1px solid #B0744D;
}
.sub_menu a{
    display: flex; align-items: center;
    justify-content: space-between;
    padding: 13px;
    font-size: 1.1rem;
}
.sub_menu > a{
    background: #fff; color: #B0744D;
}
.sub_menu .aList{
    display: none; background: #F5EFEC;
}
.sub_menu .aList a{color: #666;}

/* title_area */
#content{}
#content .title_area{
    text-align: center; position: relative;
    margin: 50px 0;
}
#content .title_area h2{
    font-size: 1.5rem; font-weight: 500;
}
#content .title_area span{color: #B0744D;}
#content .title_area p{
    margin:10px 0 30px 0;
    font-size: 1.21rem;
}
#content .title_area h2::after{content: ""; display: block;
    width: 40%; height: 1px; 
    background: #333;
    position: absolute; 
    left: 55%; top: 91%;
    animation: silde 1.5s 1;
    /* animation-delay: 1.5s; */
}
#content .title_area h2::before{content: ""; display: block;
        width: 40%; height: 1px; 
        background: #333;
        position: absolute; 
        right: 55%; top: 91%;
        animation: silde 1.5s 1;
        /* animation-delay: 1.5s; */
    }

