@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Kalnia:wght@100..700&family=Noto+Sans+KR:wght@100..900&family=Noto+Serif+Display:ital,wght@0,100..900;1,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* font-family: "Noto Serif", serif; */
/* font-family: "Noto Sans KR", sans-serif; */
/* font-family: "Noto Serif Display", serif; */
// font-family: "Kalnia", serif;
// font-family: "Roboto", sans-serif;

/* CSS Reset */
* { margin:0; padding:0; border:0; outline:0; vertical-align:top;
    -webkit-text-size-adjust:none;  box-sizing: border-box;}
html, body, div , span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video{margin: 0; padding: 0; border: 0; }
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section{display: block;}
html{font-size: 18px;}
body{font-family: "Noto Sans KR", sans-serif; color: #333;}
ol, ul{list-style: none;}
table{border-collapse: collapse; border-spacing: 0;}
address{font-style: normal}
a{color: #333; text-decoration: none; display: block; cursor: pointer;}
img{border: 0; vertical-align: top;}

.hidden{display: block; position: absolute;
    left: -1000%; width: 1px; height: 1px;
    overflow: hidden; color: #fff}

#wrap{

    & header{
        display: flex; justify-content: space-between;
        align-items: center;
        padding: 5px 30px; position: fixed; top: 0;
        width: 100%;

        & .headerLeft{
            display: flex; gap: 15px;align-items: center;
            width: 50%;
            
            & h1{
                font-size: 1rem;
            }
            & a{
                padding: 5px 10px;
                transition: .3s ease-out;
                border-radius: 10px;

                &:hover{
                    color: #fff; background: #333;
                }
            }
        }

        & .headerRight{
            display: flex; gap: 20px; align-items: center;

            & .battery{
                width: 30px; height: 16px; border: 1px solid #333;
                border-radius: 5px;
                & span{
                    display: block; width: 20px; height: 10px;
                    background: #333; border-radius: 2px;
                    margin: 2px 0 0 2px;
                }
            }
            & > span{
                border: 1px solid #333;
                padding: 0 10px; border-radius: 5px; line-height: 1.2rem;
            }
        }
    }

    & article{
        width: 100%;
        background: #DDDDDD;
        border-radius: 20px 20px 0 0; border: 1px solid #333;
        position: fixed; top: 46px;

        & .contentTop{
            position: relative; overflow: hidden;

            & .btns{
                display: flex; gap: 10px;
                position: absolute; left: 30px; top: 20px;
                & span{
                    display: block; width: 15px; height: 15px;
                    border-radius: 50px;
                }
                & span:first-child{
                    background: #FE5F57;
                }
                & span:nth-of-type(2){
                    background: #FEBC2E;
                }
                & span:last-child{
                    background: #2BC83F;
                }
            }

            & .subtit{
                background: #D2D2D2; border: 1px solid #999;
                width: 600px; display: flex; justify-content: center; gap: 5px;
                margin: 10px auto; align-items: center;
                border-radius: 5px;
                
                & p{
                    font-size: 0.83rem;
                    padding: 5px;
                }
            }
        }

        & nav{
            width: 20%; height: 100vw; background: #F3F3F3;
            float: left; padding: 20px 0;
            position: fixed; top: 100px; 

            & > div{
                display: flex; justify-content: space-between;
                align-items: center; padding: 0 30px;
                & div{
                    display: flex; gap: 5px;
                    & span{
                        width: 5px; height: 5px;
                        border-radius: 50px; background: #333;
                    }
                }
            }

            & .depth1{
                
                & > li{
                    
                    & > a{
                        display: flex; gap: 10px; width: 100%;
                        align-items: center; 
                        font-weight: 600;

                        & i{color: #999; margin-left: 30px;}
                    }
                    

                    & .depth2{
                        width: 100%;

                        & i{margin-left: 60px; color: #999;}
                        & h4, h5{font-weight: 400; font-size: 1rem;}
                        & > li{

                            & a{
                                display: flex; align-items: center; gap: 10px;
                                font-size: 1rem;width: 100%;
                            }
                            & ul{
                                
                                & img{margin-left: 90px;}
                            }
                        }
                    }
                }
                & a{
                    transition: .5s ease-out;
                    line-height: 2.5rem;
                    &:hover{
                        background: rgba(255, 221, 0, 0.422);
                    }
                }
            }
        }

        & section{
            float: right; width: 80%; 
            height: 100vh; 
            overflow-y: scroll;
            background: #fff; line-height: 1.7rem;
            // padding: 30px;

            & .tabs{
                width: 100%;
                position: fixed; top: 100px;
                
                & ul{
                    display: flex; align-items: center;

                    & li{
                        width: 15.94%; background: #ECECEC;
                        border-left: 1px solid #fff; border-right: 1px solid #fff;
                        
                        & a{
                            display: flex; line-height: 2.5rem; gap: 5px;
                            align-items: center; color: #606060;
                            padding-left: 20px; transition: .3s ease-out;
                            &:hover{
                                background: #fff; color: #333;
                            }
                        }
                        & .on{background: #fff; color: #333;}
                    }
                }
            }

            & .con{
                margin-top: 45px; padding: 30px;color: #ccc; 
                & .indent1{
                    margin-left: 40px;
                    & span{color: #333;}

                    & .indent2{
                        margin-left: 70px; color: #333;
                    }
                }

            }
            // con1
            & .con1{
                display: flex; 

                & .conLeft{
                    width: 60%;
                }
                & .indent1{

                    & .indent2{
                        & p:first-child{
                            position: relative; z-index: 1;
                            
                            &:hover{
                                &::before{
                                    width: 100%;
                                }
                            }
                        }
                        & p:first-child::before{
                            content: ""; display: block; width: 0px; height: 100%;
                            background: #ffc9198b; position: absolute; left: -70px; top: 0px;
                            z-index: -1;transition: .5s ease-out;
                        }
                        & p:not(:first-child){

                            &:hover{
                                color: #FFC300;
                                & span{
                                    color: #00A4EC;
                                }
                            }
                            
                            
                        }
                    }

                    & > ul{
                        color: #333;
                        & > li{
                            & ul{
                                display: flex; 
                                width: 100%;
                                & li:nth-of-type(1){
                                    width: 15%;
                                }
                                & li:nth-of-type(2){
                                    width: 65%;
                                    text-align: left;
                                }
                                & li:nth-of-type(3){
                                    width: 20%;
                                }
                            }
                        }
                    }
                }
                & .conRight{
                    width: 40%; padding-left: 30px; 
                    height: 85vh;
                    position: relative;
                    & p{
                        margin: 86px 0 30px 0;
                    }
                    & img{border: 1px solid #333;}

                    &::before{
                        content: ""; display: block; width: 1px; height: 100%;
                        background: #ccc; position: absolute; left: 0; top: -30px;
                    }
                }
            }
        }
    }








// wrap
}