@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Kalnia:wght@100..700&family=Noto+Sans+KR:wght@100..900&family=Noto+Serif+Display:ital,wght@0,100..900;1,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* font-family: "Noto Serif", serif; */
/* font-family: "Noto Sans KR", sans-serif; */
/* font-family: "Noto Serif Display", serif; */
// font-family: "Kalnia", serif;
// font-family: "Roboto", sans-serif;

/* CSS Reset */
* { margin:0; padding:0; border:0; outline:0; vertical-align:top;
    -webkit-text-size-adjust:none;  box-sizing: border-box;}
html, body, div , span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video{margin: 0; padding: 0; border: 0; }
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section{display: block;}
html{font-size: 16px;}
body{font-family: "Noto Sans KR", sans-serif; color: #333;}
ol, ul{list-style: none;}
table{border-collapse: collapse; border-spacing: 0;}
address{font-style: normal}
a{color: #333; text-decoration: none; display: block; cursor: pointer;}
img{border: 0; vertical-align: top;}

.hidden{display: block; position: absolute;
    left: -1000%; width: 1px; height: 1px;
    overflow: hidden; color: #fff}
:root{
    --pointYellow:rgba(255, 221, 0, 0.422);
    --lightgray:#F3F3F3;
    --lightgray2:#DDDDDD;
    --appleRed:#FE5F57;
    --appleYellow:#FEBC2E;
    --appleGreen:#2BC83F;
    --black:#0F0F0F;
}

@mixin tooltip($top, $right, $bottom, $left){
    position: absolute; left: 50%; bottom: -40px;
    transform: translateX(-50%);
    font-size: .9rem;  font-weight: 300;
    width: 100px;
    display: block; 
    text-align: center;
    color: #fff;
    background: rgba(0,0,0,.8);
    padding: 5px 0;
    border-radius: 10px;
    transition: .3s ease-out;
    opacity: 0;

    &::before{
        content: ""; display: inline-block; width: 0; height: 0;
        position: absolute; left: 50%; top: -20px;
        transform: translateX(-50%);
        border-width: 10px;
        border-style: solid;
        border-color: $top $right $bottom $left;
    }
}


#wrap{
    & .tooltip{
        @include tooltip(transparent, transparent, rgba(0,0,0,.8), transparent);
    }
    & header{
        display: flex; justify-content: space-between;
        align-items: center;
        padding: 5px 30px; position: fixed; top: 0;
        width: 100%;
        z-index: 50;

        & .headerLeft{
            display: flex; gap: 15px;align-items: center;
            width: 50%;
            
            & h1{
                font-size: 1rem; cursor: pointer;
            }
            & a{
                padding: 5px 10px;
                transition: .3s ease-out;
                border-radius: 10px;

                &:hover{
                    color: #fff; background: #333;
                }
            }
        }

        & .headerRight{
            display: flex; gap: 20px; align-items: center;

            & .battery{
                width: 30px; height: 16px; border: 1px solid #333;
                border-radius: 5px; position: relative;
                & span:nth-of-type(1){
                    display: block; width: 10px; height: 10px;
                    background: #333; border-radius: 2px;
                    margin: 2px 0 0 2px; transition: .5s ease-out;
                }

                &:hover{
                    & .tooltip{opacity: 1; bottom: -45px;}
                    & span:nth-of-type(1){
                        width: 23px; background: #f00;
                    }
                }
            }
            & > span{
                border: 1px solid #333; display: inline-block;
                text-align: center;
                width: 35px;
                border-radius: 5px; line-height: 1.2rem;
            }
            & img{transition: .5s ease-out;}
            & .wifiImg{
                &:hover{
                    transform: scale(1.2);
                }
            }
            & .toggleImg{
                &:hover{
                    transform: rotate(180deg);
                }
            }
        }
    }

    & article{
        width: 100%;
        background: var(--lightgray2);
        border-radius: 20px 20px 0 0; border: 1px solid #333;
        position: fixed; top: 46px;

        & .contentTop{
            position: relative; overflow: hidden;

            & .btns{
                display: flex; gap: 10px;
                position: absolute; left: 30px; top: 20px;
                & span{
                    display: block; width: 15px; height: 15px;
                    border-radius: 50px;
                }
                & span:first-child{
                    background:var(--appleRed);
                }
                & span:nth-of-type(2){
                    background: var(--appleYellow);
                }
                & span:last-child{
                    background: var(--appleGreen);
                }
            }

            & .subtit{
                background: #D2D2D2; border: 1px solid #999;
                width: 600px; display: flex; justify-content: center; gap: 5px;
                margin: 10px auto; align-items: center;
                border-radius: 5px;
                
                & p{
                    font-size: 0.83rem;
                    padding: 5px;
                }
            }
        }

        & nav{
            width: 20%; height: 100vw; background: var(--lightgray);
            float: left; padding: 20px 0;
            position: fixed; top: 100px; 

            & > div{
                display: flex; justify-content: space-between;
                align-items: center; padding: 0 5%;
                & div{
                    display: flex; gap: 5px;
                    & span{
                        width: 5px; height: 5px;
                        border-radius: 50px; background: #333;
                    }
                }
            }

            & .depth1{
                
                & > li{
                    
                    & > a{
                        display: flex; gap: 10px; width: 100%;
                        align-items: center; 
                        font-weight: 600;

                        & i{color: #999; margin-left: 5%;}
                    }
                    

                    & .depth2{
                        width: 100%;

                        & i{margin-left: 10%; color: #999;}
                        & h4, h5{font-weight: 400; font-size: 1rem;}
                        & > li{

                            & a{
                                display: flex; align-items: center; gap: 10px;
                                font-size: 1rem;width: 100%;
                            }
                            & ul{
                                & li{

                                    & a{
                                        &:hover{
                                            background: var(--pointYellow);
                                        }
                                        & img{margin-left: 20%;}
                                    }
                                    & .active{
                                        background: var(--pointYellow);
                                    }
                                }
                                
                            }
                        }
                    }
                }
                & a{
                    transition: .5s ease-out;
                    line-height: 2.5rem;
                    
                }
            }
        }
        & section{
            float: right; width: 80%;
            background: #fff; line-height: 1.7rem;
            position: relative; top: 2px;
        }

        & section.info{
            height: 100vh; 
            overflow-y: scroll;

            & .tabs{
                width: 100%; z-index: 10;
                position: fixed; top: 100px;
                
                & ul{
                    display: flex; align-items: center;

                    & li{
                        width: 15.94%; background: #ECECEC;
                        border-left: 1px solid #fff; border-right: 1px solid #fff;
                        
                        & a{
                            display: flex; line-height: 2.5rem; gap: 5px;
                            align-items: center; color: #606060;
                            padding-left: 20px; transition: .3s ease-out;
                            &:hover{
                                background: #fff; color: #333;
                            }
                        }
                        & .on{background: #fff; color: #333;}
                    }
                }
            }

            & .con{
                margin-top: 45px; padding: 30px;color: #ccc; 
                display: none;
                & .indent1{
                    margin-left: 40px;
                    & span{color: #333;}
                    & .title{font-weight: 700;}
                    & > ul{
                        & > li{
                            &:hover{
                                background: var(--pointYellow);
                            }
                        }
                    }

                    & .indent2{
                        margin-left: 70px; color: #333;
                    }
                }

            }
            // con1
            & .con1{
                display: block;
                & > div{
                    display: flex; 
                    & .conLeft{
                        width: 60%;
                    }
                    & .indent1{
    
                        & .indent2{
                            & p:first-child{
                                position: relative; z-index: 1;
                                
                                &:hover{
                                    &::before{
                                        width: 100%;
                                    }
                                }
                            }
                            & p:first-child::before{
                                content: ""; display: block; width: 0px; height: 100%;
                                background: #ffc9198b; position: absolute; left: -70px; top: 0px;
                                z-index: -1;transition: .5s ease-out;
                            }
                            & p:not(:first-child){
    
                                &:hover{
                                    color: #FFC300;
                                    & span{
                                        color: #00A4EC;
                                    }
                                }
                                
                                
                            }
                        }
    
                        & > ul{
                            color: #333;
                            & > li{
                                & ul{
                                    display: flex; 
                                    width: 100%;
                                    & li:nth-of-type(1){
                                        width: 15%;
                                    }
                                    & li:nth-of-type(2){
                                        width: 65%;
                                        text-align: left;
                                    }
                                    & li:nth-of-type(3){
                                        width: 20%;
                                    }
                                }
                            }
                        }
                    }
                    & .conRight{
                        width: 40%; padding-left: 30px; 
                        height: 85vh;
                        position: relative;
                        & p{
                            margin: 86px 0 30px 0;
                        }
                        & img{border: 1px solid #333;}
    
                        &::before{
                            content: ""; display: block; width: 1px; height: 100%;
                            background: #ccc; position: absolute; left: 0; top: -30px;
                        }
                    }
                }
                
            }

            // con2
            & .con2{
                & .indent1{
                    // color: #333;

                    & > ul{
                        & > li{
                            margin-bottom: 50px; color: #333;
                            &:hover{background: none;}
                            & ul{
                                & li{
                                    display: flex;

                                    & p:nth-of-type(1){
                                        width: 50%; font-weight: 500;
                                    }
                                    & p:nth-of-type(2){
                                        width: 30%; color: #999;
                                    }
                                    &:hover{
                                        background: var(--pointYellow);
                                    }
                                }
                            }
                        }
                    }
                }
            }

            // con3
            & .con3{

                & .skillCon{
                    color: #333;
                    & .skillTabs{
                        display: flex; width: 50%;
                        // margin-bottom: 30px;
                        & li{
                            transition: .3s ease-out; cursor: pointer;
                            width: 33.33%;
                            padding: 5px 10px; 
                            color: #ccc;
                        }
                        & .now{
                            color: #333; background: var(--pointYellow);
                            font-weight: 500;
                        }
                    }
                    & .skillsList{
                        height: 500px; overflow-y: scroll;
                        & ul{
                            
                            & li{

                                & dl{
                                    display: flex;
                                    padding: 10px 0;
                                    border-top: dashed 1px #ccc;

                                    & dt{
                                        width: 20%; font-weight: 500;
                                    }
                                    & dd{
                                        width: 80%; font-weight: 400;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            // con4
            & .con4{
                & .indent1{
                    
                    & ul:nth-of-type(1){
                        display: flex; gap: 30px;

                        & li{
                            color: #333;
                            &:hover{color: #333; background: none;}
                        }
                    }
                }
                & > div:nth-of-type(2){margin-bottom: 50px;}
                
            }

            // portfolio
            & .portfolio{
                padding: 100px 30px; background: var(--black);
                color: #fff; font-weight: 300;
                & h3{
                    font-size: 2rem; font-weight: 400;
                }
                & > ul{
                    counter-reset: pnumber;
                    margin-top: 50px;
                    & li{
                        display: flex; gap: 3%;
                        padding: 50px 0;
                        border-top: 0.5px solid #ffffff7d;
                        

                        & dl{
                            width: 60%; position: relative;
                            display: flex; flex-direction: column;
                            
                            & dt{
                                position: relative;
                                font-size: 1.25rem; margin-bottom: 20px;

                                &::before{
                                    content: ""; display: inline-block;
                                    counter-increment: pnumber;
                                    content: "0" counter(pnumber) ".";
                                    color: var(--appleYellow);
                                    font-size: 1.5rem; font-weight: 300;
                                    margin-right: 5px;
                                }
                            }
                            & dd{
                                
                                & a{
                                    color: #fff; transition: .3s ease-out;
                                    display: inline-block;
                                    font-weight: 500;
                                    &:hover{
                                        background: var(--appleYellow);
                                        color: var(--black);
                                    }
                                }
                            }
                            & dd:nth-of-type(1){
                                flex-grow: 1;
                            }
                        }
                        & div{
                            width: 35%; text-align: center;
                            & img{
                                width: 100%; 
                            }
                        }
                    }
                    & li:nth-of-type(2){
                        & div{
                            & img{width: 40%;}
                        }
                    }
                }
            }
        }
    }








// wrap
}